<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oridway.www.uiframe">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.UserDetailActivity"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.UserListActivity"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.UserFilterActivity"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.ReportDetailActivity"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.RoleSelectActivity"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.RegisterActivity"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.UserSelectActivity"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.ReportListActivity"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.SectionListActivity"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.TopicListActivity"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.ReplyListActivity"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.SectionNewActivity"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".activity.IndexActivity"
            android:launchMode="standard"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>